[run]
branch = True
source = sfdump
omit =
    tests/*
    */__main__.py
    *\__main__.py
    */viewer/*_app.py
    *\viewer\*_app.py
    */viewer/db_app.py
    *\viewer\db_app.py
    */viewer/files_app.py
    *\viewer\files_app.py

[report]
show_missing = True
skip_covered = True
