# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
tests/unit/__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.miniconda/
.python-version


src/sfdump/_version.py

# DO NOT STORE CREDS
.env

# Ignore Makefile Stamps
/.stamps/*
.coverage_target
/curl.bash
/jwt.bash
/server.crt
/server.key
export-*/*

/exports/*

/content_versions_debug.csv
src/logos/*
/logs/*

docs/sfdump_missing_report*.md
docs/sfdump_missing_report*.pdf
docs/*audit-*.md
docs/*audit-*.pdf

private_reports
*.pdf
*.docx
sfdump_missing_report*.md
sfdump_missing_report*.pdf

docs/_generated/
/CFO_Report.md
*.coverage_target
*.tar
*.gz
/viewer-snapshot.tgz

*.tgz
*.local.json
tests/__pycache__/
